absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aiosqlite==0.22.1
alembic==1.19.2
amplitude-analytics==1.2.3
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
apprise==1.13.1
asgi-lifespan==2.1.0
astunparse==1.6.3
async-timeout==5.0.1
asyncpg==0.31.0
attrs==25.4.0
beartype==0.22.9
blinker==1.9.0
burner-redis==0.1.7
cachetools==7.1.8
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.3.2
coolname==5.0.0
cronsim==2.7
cryptography==45.0.7
cycler==0.12.1
cyclopts==4.25.0
dateparser==1.4.3
docker==7.2.0
docstring_parser==0.18.0
exceptiongroup==1.3.1
fastapi==0.141.1
Flask==3.1.2
flatbuffers==25.12.19
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2026.7.0
gast==0.4.0
google-auth==2.49.2
google-auth-oauthlib==1.3.1
google-pasta==0.2.0
graphviz==0.21
greenlet==3.3.0
griffe==2.3.0
griffecli==2.3.0
griffelib==2.3.0
grpcio==1.74.0
h11==0.16.0
h2==4.4.1
h5py==3.14.0
hpack==4.2.0
httpcore==1.0.9
httpx==0.28.1
humanize==4.16.0
hyperframe==6.1.0
idna==3.11
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
jinja2-humanize-extension==0.4.0
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keras==3.12.1
Keras-Preprocessing==1.1.2
kiwisolver==1.4.9
libclang==18.1.1
Mako==1.4.1
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
mediapipe==0.10.9
ml_dtypes==0.5.4
multidict==6.7.0
namex==0.1.0
nest-asyncio==1.6.0
numpy==2.2.6
numpypy==1.17.2
oauthlib==3.3.1
opencv-contrib-python==4.12.0.88
opencv-python==4.12.0.88
opentelemetry-api==1.44.0
opt_einsum==3.4.0
optree==0.19.0
orjson==3.12.0
packaging==25.0
pandas==2.3.3
pathspec==1.1.1
pendulum==3.2.0
pillow==12.0.0
playwright==1.57.0
pluggy==1.6.0
prefect==3.8.5
prometheus_client==0.26.0
propcache==0.4.1
protobuf==3.20.3
py-key-value-aio==0.4.5
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.13.5
pydantic-extra-types==2.11.1
pydantic-settings==2.15.0
pydantic_core==2.46.5
pydocket==0.25.0
pyee==13.0.0
Pygments==2.20.0
pyparsing==3.3.1
PyPyNum==1.17.2
pytest==9.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
python-json-logger==4.2.0
python-slugify==8.0.4
pytz==2026.1.post1
pywin32==312
PyYAML==6.0.3
readchar==4.2.2
redis==8.1.0
referencing==0.37.0
regex==2026.9.3
requests==2.33.1
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rich==15.0.0
rich-rst==2.1.0
rpds-py==0.30.0
ruamel.yaml==0.19.1
ruamel.yaml.clib==0.2.15
semver==3.0.4
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sounddevice==0.5.3
SQLAlchemy==2.0.52
sqlcipher3-wheels==0.5.7
starlette==1.6.0
taskgroup==0.2.2
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.21.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.3.0
text-unidecode==1.3
toml==0.10.2
tomli==2.4.1
typer==0.27.2
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2025.3
tzlocal==5.4.4
uncalled-for==0.4.0
urllib3==2.6.3
uvicorn==0.52.4
websockets==16.1.1
Werkzeug==3.1.4
wrapt==1.14.2
yarl==1.22.0
